html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video,
input {
  margin: 0;
  padding: 0;
  border: none;
  outline: 0;
  font-family: STHeitiSC-Light;
  font: inherit;
  vertical-align: baseline;
}

html,
body,
form,
fieldset,
p,
div,
h1,
h2,
h3,
h4,
h5,
h6 {
  -webkit-text-size-adjust: none;
}

html,
body {
  width: 100%;
  height: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  font-family: arial, sans-serif;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

ins,
a {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  display: inline-block;
}

input,
textarea {
  border: none;
  background: none;
  outline: none;
  -webkit-appearance: none;
}

* {
  -webkit-tap-highlight-color: transparent;
  -moz-tap-highlight-color: transparent;
  -ms-tap-highlight-color: transparent;
  -o-tap-highlight-color: transparent;
}

/*html {
    font-size: $browser-default-font-size;
}*/
html {
  font-size: 37.5px;
}

.wrap {
  width: 100%;
  height: 100%;
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  display: -webkit-flex;
  /* NEW - Chrome */
  -webkit-flex-direction: column;
  flex-direction: column;
  overflow: hidden;
}

section {
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  display: -webkit-flex;
  /* NEW - Chrome */
  -webkit-flex-direction: column;
  flex-direction: column;
  overflow: hidden;
  padding: 0 0.4rem;
  flex-shrink: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

section .top {
  width: 100%;
  height: 1.06667rem;
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  display: -webkit-flex;
  /* NEW - Chrome */
  flex-shrink: 0;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

section .top p {
  font-size: 0.48rem;
}

section .top span {
  color: #898989;
}

section .swiper-container {
  width: 100%;
  flex-shrink: 0;
  height: 2.66667rem;
}

section .bsrcoll {
  height: 100%;
  overflow: hidden;
}

section .bsrcoll div {
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  display: -webkit-flex;
  /* NEW - Chrome */
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  flex-shrink: 0;
  background: #eee;
}

section .bsrcoll div > p {
  width: 100%;
  text-align: center;
  height: 0.8rem;
  line-height: 0.8rem;
}

section .bsrcoll div dl {
  width: 46%;
  height: 5.33333rem;
  border: 1px solid #ccc;
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  display: -webkit-flex;
  /* NEW - Chrome */
  -webkit-flex-direction: column;
  flex-direction: column;
  margin: 0.13333rem;
  background: #fff;
}

section .bsrcoll div dl dd {
  width: 99%;
  height: 67%;
}

section .bsrcoll div dl dd img {
  width: 100%;
  height: 100%;
}

section .bsrcoll div dl dt p {
  margin: 0.05333rem;
  color: #898989;
}

section .bsrcoll div dl dt span {
  color: #898989;
}

section .bsrcoll div dl dt span em {
  color: red;
}

section .bsrcoll div dl dt span:nth-child(3) {
  margin: 0.13333rem 0.05333rem;
  float: right;
}

section .bsrcoll div dl dt div:nth-child(4) {
  color: #898989;
  float: right;
  margin-left: 2.4rem;
}
